[Unit]
Description=Run Ducky script on boot
After=network.target

[Service]
ExecStart=/home/usr/duckpapa/plug_duck.sh
WorkingDirectory=/home/usr/ducky
Restart=on-failure
User=kali

[Install]
WantedBy=multi-user.target
